packages:
  yum:
    krb5-devel: []
option_settings:
  aws:elasticbeanstalk:application:environment:
    PARSE_MOUNT: "/parse"
    APP_ID: "ReplaceWithAppID"
    MASTER_KEY: "ReplaceWithMasterKey"
    FILE_KEY: "ReplaceWithFileKey"
    DATABASE_URI: "ReplaceWithDatabaseURI"
    NODE_ENV: "production"
    SERVER_URL: "http://myappname.elasticbeanstalk.com/parse"
  aws:elasticbeanstalk:container:nodejs:
    NodeCommand: "npm start"
container_commands:
 01_node_binary:
    command: "ln -sf `ls -td /opt/elasticbeanstalk/node-install/node-* | head -1`/bin/node /bin/node"
 02_npm_binary:
    command: "ln -sf `ls -td /opt/elasticbeanstalk/node-install/node-* | head -1`/bin/npm /bin/npm"
 03_install_node_modules_in_custom_parse_server:
    command: "sudo npm install && cd node_modules && cd parse-server && sudo npm install && sudo npm run build"